nav.navbar-findcond { background: #af0c0c; border-color: #ccc; box-shadow: 0 0 2px 0 #ccc; }
nav.navbar-findcond a {color: #ffffff; text-decoration: none;}
nav.navbar-findcond ul.navbar-nav a { color: #ffffff;}
nav.navbar-findcond ul.navbar-nav a:hover,
nav.navbar-findcond ul.navbar-nav a:visited,
nav.navbar-findcond ul.navbar-nav a:focus,
nav.navbar-findcond ul.navbar-nav a:active { background: #fff; }
nav.navbar-findcond ul.navbar-nav a:hover { border-color: #ffffff; background: #af0c0c; }
nav.navbar-findcond li.divider { background: #ccc; }
nav.navbar-findcond button.navbar-toggle { background: #ffffff; border-radius: 2px; }
nav.navbar-findcond button.navbar-toggle:hover { background: #999; }
nav.navbar-findcond button.navbar-toggle > span.icon-bar { background: #fff; }