nav.navbar-findcond {background: #252839; border-bottom: 2px solid #f2b632 }
nav.navbar-findcond a {color: #ffffff; text-decoration: none;}
nav.navbar-findcond li {color: #ffffff; text-decoration: none;}
nav.navbar-findcond li :hover,
nav.navbar-findcond li :visited,
nav.navbar-findcond li :focus,
nav.navbar-findcond li :active {}
nav.navbar-findcond li :hover {}



/* JACOB  ISTO È O CURSOR OVER LOGO*/
.cursorOverLogo{
  cursor: pointer;
}

.jacobBlueButton {
  background: #252839;
  margin-top: 0.4em;
  padding: 0.5em 0.7em 0.5em 0.7em;
  border-color: white !important;
}

.fa-bars{
  color: #ffffff !important;
}






.hvr-shutter-out-horizontal{
  //display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  background: #252839;
  color: #252839;
  -webkit-transition-property: color, background;
  transition-property: color, background;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  cursor:pointer;
}
.hvr-shutter-out-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ffffff;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-shutter-out-horizontal:hover, .hvr-shutter-out-horizontal:focus, .hvr-shutter-out-horizontal:active {
  color: #252839;
  background: #252839;

  }
.hvr-shutter-out-horizontal:hover:before, .hvr-shutter-out-horizontal:focus:before, .hvr-shutter-out-horizontal:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);

}


